
h1,pre{text-decoration:blink; 
              color:purple; 
              font-family:Algerian;
              font-size:large;
              text-align:LEFT;
              font-variant:small-caps;"}


